<<<<<<< HEAD
<div class="container1">
	<div class="header">
		<h1>New Article</h1>
	</div>

	<div class="body">
		<%= render 'form' %>

		<%= link_to 'Back', root_url %>
	</div>
=======
<h1>New Article</h1>
<div class="bodyContainer">
	<%= render 'form' %>
>>>>>>> 7e593c260fa2297c5e61209ca7230756ab66d654
</div>

