<div class="container1">
	<div class="header">
		<h1>
			<strong>Article:</strong>
			<%= @article.title%>
		</h1>
	</div>
	<div class="body">
	<p>
		<strong>Text:</strong>
	</p>

	<pre>
		<%= @article.text%>
	</pre>
	
	</div>
	<div id="commentSection">
		<h2 id="commentsTitle">Comments</h2>
		<%= render @article.comments %>

		<h2>Add a comment:</h2>
		<%= render 'comments/form' %>
	</div>
</div>






